<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>DHFC Finance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
        background: url('../static/Background.jpg') no-repeat center center fixed;
        background-size: cover;
        }
        .card-header{
        background: rgb(167 214 230)
        }
        .card-body{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        }
        .col-md-6{
        display: flex;
        flex-direction: column;
        align-items: center;}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="main">
      <div class="row" style="margin-top: 25vh;">
        <div class="col-md-6 offset-md-3">
          <h2 style="margin-bottom: 20px">Welcome to DHFC Finance </h2>
          <div class="card">
            <div class="card-header" style="display: flex; justify-content: center; align-content: center; flex-wrap: wrap;" >
              <h5>Please Login/Signup to check loan eligibility</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="mx-auto mt-1 mb-1">
                  <a href="{{url_for('login')}}" class="btn btn-primary" style="color:black; background-color: #19b1da; padding-right: 20px;padding-left: 20px;">Login Now</a>
                </div>
              </div>
              <div class="row">
                <div class="mx-auto mt-1 mb-1">
                  <a href="{{url_for('register')}}" class="btn btn-primary" style="color:black; background-color: #19b1da;">Register Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>